@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');

/* ------- global class -------- */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    user-select: none;
}

a {
    text-decoration: none;
}

.container {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
}


/* -------- header start -------- */

.header {
    height: 60px;
    background: #323232;
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.13);
    display: flex;
    justify-content: center;
    align-items: center;
}

.nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

ul {
    display: flex;
    align-items: center;
    justify-content: center;
}

.nav__stone {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 24px;
    line-height: 20px;
    text-transform: uppercase;
    color: #EDEDED;
    margin: 15px 32px 23px 8px;
}

.nav__home {
    border-left: 2px solid #4D4D4D;
}

.nav__text {
    padding: 21px 30px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    letter-spacing: 2px;
    text-transform: uppercase;
    color: #EDEDED;
    transition: .6s ease;
    border-right: 2px solid #4D4D4D;
}

.nav__text:hover {
    background: #000;
    color: #C7AA8B;
}

.nav__icon {
    padding: 16px 26px;
    font-size: 25px;
    border-left: 2px solid #4D4D4D;
    border-right: 2px solid #4D4D4D;
    color: white;
    transition: .6s;
}

.nav__icon2 {
    border-left: none;
}

.nav__icon:hover {
    background: #000;
    color: #C7AA8B;
}


/* -------- header end -------- */


/* -------- main start -------- */


/* --------- block-1  start ---------- */

.block-1 {
    height: 500px;
    background: url(../img/block_1.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.block-1__h1 {
    width: 640px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 79px;
    line-height: 66px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    margin-top: 70px;
}

.block-1__border {
    width: 60px;
    height: 3px;
    background: #FFFFFF;
    margin-top: 36px;
}

.block-1__p {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: rgba(255, 255, 255, 0.81);
    margin-top: 18px;
}

.block-1__button {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    background: rgba(77, 77, 77, 0.2);
    border: 2px solid #FFFFFF;
    box-sizing: border-box;
    padding: 10px 17px;
    margin-top: 50px;
    cursor: pointer;
    transition: all .6s;
}

.block-1__button:hover {
    background: #323232;
}

.block-1__checkbox {
    display: flex;
}

.block-1__checkbox .box {
    width: 9px;
    height: 9px;
    background: #FFFFFF;
    margin: 86px 6px 0px 6px;
    cursor: pointer;
    transition: all .6s;
}

.block-1__checkbox .box:hover {
    background: red;
}


/* --------- block-1  end ---------- */


/* --------- block-2  start ---------- */

.block-2 {
    background: #C7AA8B;
    height: 425px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-2__xona {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-2__border {
    width: 320px;
    border-bottom: #32323221 solid 2px;
    float: left;
    color: #32323270;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
}

.block-2__box {
    width: 320px;
    height: 265px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
    margin: 60px;
}

.block-2__p {
    margin: 22px 0px 25px 0px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #4D4D4D;
}

.icon_1 {
    margin-bottom: 35px;
    margin-top: 25px;
}

.icon_2 {
    margin-bottom: 40px;
    margin-top: 25px;
}

.icon_3 {
    margin-bottom: 48px;
    margin-top: 25px;
}

.block-2__p2 {
    width: 287px;
    height: 60px;
    font-family: 'Roboto';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #4D4D4D;
}


/* --------- block-2  end ---------- */


/* --------- block-3  start ---------- */

.block-3 {
    height: 400px;
    background: url(../img/block_2.png);
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-3__h1 {
    width: 842px;
    height: 110px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 47px;
    line-height: 55px;
    color: #C7AA8B;
}

.block-3__border {
    width: 60px;
    height: 2px;
    margin-top: 23px;
    background: #C7AA8B;
}


/* --------- block-3  end ---------- */


/* --------- block-4  start ---------- */

.block-4 {
    height: 570px;
    background: #FFF;
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-4__xona {
    display: flex;
    justify-content: space-between;
}

.block-4__h1 {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 30px;
    line-height: 27px;
    text-transform: uppercase;
    color: #4D4D4D;
}

.block-4__body {
    display: flex;
}

.box__m {
    margin-right: 20px;
}


/* --------- block-4  end ---------- */


/* --------- block-5  start ---------- */

.block-5 {
    height: 390px;
    background: #F7F7F7;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.block-5__head {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-flow: column;
}

.block-5__title {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #3232325c;
}

.block-5__border {
    margin-top: 14px;
    width: 60px;
    height: 2px;
    background: #3232322e;
}

.block-5__body {
    display: flex;
    justify-content: center;
    align-items: center;
}

.block-5__box1 {
    width: 380px;
    height: 100px;
    margin-right: 62px;
    text-align: center;
}

.block-5__box2 {
    width: 380px;
    height: 100px;
    text-align: center;
}

.block-5__body__p1 {
    font-family: 'Vollkorn';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 20px;
    text-align: center;
    color: #4D4D4D;
}

.block-5__body__h1 {
    margin-top: 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
}


/* --------- footer  start ---------- */

.footer {
    height: 150px;
    background: #323232;
}

.footer__block {
    height: 150px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.footer__logo {
    display: flex;
    align-items: center;
    justify-content: center;
}

.footer__p {
    cursor: pointer;
    margin: 3px 0px 0px 10px;
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 20px;
    color: #858585;
}

.footer__button {
    font-family: 'Roboto Condensed';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    text-align: center;
    text-transform: uppercase;
    color: #C7AA8B;
    background: #4d4d4d33;
    border: 2px solid #C7AA8B;
    box-sizing: border-box;
    padding: 10px 74px;
}